@import "tailwindcss";

@theme {
  --color-brand-blue: #0B2341;
  --color-brand-yellow: #FFD100;
}

@layer base {
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
  }
}
